@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.core-container {
  color: #cc241d;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
}

body {
  background: #282828;
}

.bar {
  background: #7c6f64;
  color: #076678;

  width: 20em;
  height: 2em;
  margin: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar .bar-inner {
  z-index: 5;

  height: 100%;

  background: #eebd35;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  transition: width 0.2s;
}

.bar,
.bar-inner {
  border-radius: 4px;
}
